# Pandas: Working with Data Frames - summarizing with groupby

In [1]:
import numpy as np              #standard imports
import scipy as scipy1   
import pandas as pd
import matplotlib as plt
%matplotlib inline

## Read the Hall of Fame dataset from the Baseball-Databank

In [2]:
hall = pd.read_csv("../../baseballdatabank/core/HallOfFame.csv")

## List the first 5 rows of the hall Data Frame

In [14]:
hall[[0,1]].head()

    playerID  yearid
0   cobbty01    1936
1   ruthba01    1936
2  wagneho01    1936
3  mathech01    1936
4  johnswa01    1936

## Show the column names of the hall Data Frame

In [4]:
hall.columns

Index(['playerID', 'yearid', 'votedBy', 'ballots', 'needed', 'votes',
       'inducted', 'category', 'needed_note'],
      dtype='object')

## List the number of records for each cagegory

In [5]:
hall.groupby('category').count()

,playerID,yearid,votedBy,ballots,needed,votes,inducted,needed_note
category,,,,,,,,
Manager,74,74,74,51,51,51,74,0
Pioneer/Executive,39,39,39,7,7,7,39,0
Player,3997,3997,3997,3869,3712,3869,3997,157
Umpire,10,10,10,0,0,0,10,0

## List the votedBy counts

In [6]:
hall.groupby('votedBy').count()

,playerID,yearid,ballots,needed,votes,inducted,category,needed_note
votedBy,,,,,,,,
BBWAA,3689,3689,3689,3689,3689,3689,3689,0
Centennial,6,6,0,0,0,6,6,0
Final Ballot,21,21,21,21,21,21,21,0
Negro League,26,26,0,0,0,26,26,0
Nominating Vote,76,76,76,0,76,76,76,76
Old Timers,30,30,0,0,0,30,30,0
Run Off,81,81,81,0,81,81,81,81
Special Election,2,2,0,0,0,2,2,0
Veterans,189,189,60,60,60,189,189,0

## Two-level groupby

In [7]:
hall.groupby(('category','votedBy')).count()

                                    playerID  yearid  ballots  needed  votes  \
category          votedBy
Manager           BBWAA                   51      51       51      51     51
                  Centennial               1       1        0       0      0
                  Old Timers               1       1        0       0      0
                  Veterans                21      21        0       0      0
Pioneer/Executive BBWAA                    7       7        7       7      7
                  Centennial               5       5        0       0      0
                  Negro League             5       5        0       0      0
                  Old Timers               4       4        0       0      0
                  Veterans                18      18        0       0      0
Player            BBWAA                 3631    3631     3631    3631   3631
                  Final Ballot            21      21       21      21     21
                  Negro League            21      21        0       0      0
                  Nominating Vote         76      76       76       0     76
                  Old Timers              25      25        0       0      0
                  Run Off                 81      81       81       0     81
                  Special Election         2       2        0       0      0
                  Veterans               140     140       60      60     60
Umpire            Veterans                10      10        0       0      0

                                    inducted  needed_note
category          votedBy
Manager           BBWAA                   51            0
                  Centennial               1            0
                  Old Timers               1            0
                  Veterans                21            0
Pioneer/Executive BBWAA                    7            0
                  Centennial               5            0
                  Negro League             5            0
                  Old Timers               4            0
                  Veterans                18            0
Player            BBWAA                 3631            0
                  Final Ballot            21            0
                  Negro League            21            0
                  Nominating Vote         76           76
                  Old Timers              25            0
                  Run Off                 81           81
                  Special Election         2            0
                  Veterans               140            0
Umpire            Veterans                10            0

In [8]:
hall.groupby(('votedBy','category')).count()

                                    playerID  yearid  ballots  needed  votes  \
votedBy          category
BBWAA            Manager                  51      51       51      51     51
                 Pioneer/Executive         7       7        7       7      7
                 Player                 3631    3631     3631    3631   3631
Centennial       Manager                   1       1        0       0      0
                 Pioneer/Executive         5       5        0       0      0
Final Ballot     Player                   21      21       21      21     21
Negro League     Pioneer/Executive         5       5        0       0      0
                 Player                   21      21        0       0      0
Nominating Vote  Player                   76      76       76       0     76
Old Timers       Manager                   1       1        0       0      0
                 Pioneer/Executive         4       4        0       0      0
                 Player                   25      25        0       0      0
Run Off          Player                   81      81       81       0     81
Special Election Player                    2       2        0       0      0
Veterans         Manager                  21      21        0       0      0
                 Pioneer/Executive        18      18        0       0      0
                 Player                  140     140       60      60     60
                 Umpire                   10      10        0       0      0

                                    inducted  needed_note
votedBy          category
BBWAA            Manager                  51            0
                 Pioneer/Executive         7            0
                 Player                 3631            0
Centennial       Manager                   1            0
                 Pioneer/Executive         5            0
Final Ballot     Player                   21            0
Negro League     Pioneer/Executive         5            0
                 Player                   21            0
Nominating Vote  Player                   76           76
Old Timers       Manager                   1            0
                 Pioneer/Executive         4            0
                 Player                   25            0
Run Off          Player                   81           81
Special Election Player                    2            0
Veterans         Manager                  21            0
                 Pioneer/Executive        18            0
                 Player                  140            0
                 Umpire                   10            0

## Groupby with selection - groupby over a subset

In [9]:
hall[hall.votedBy=='Veterans'].groupby('category').count()

,playerID,yearid,votedBy,ballots,needed,votes,inducted,needed_note
category,,,,,,,,
Manager,21,21,21,0,0,0,21,0
Pioneer/Executive,18,18,18,0,0,0,18,0
Player,140,140,140,60,60,60,140,0
Umpire,10,10,10,0,0,0,10,0

Note that there is no indication that the above list is only 'Veterans'.  We can use a two-level groupby in this case:

In [10]:
hall[hall.votedBy=='Veterans'].groupby(('votedBy','category')).count()

                            playerID  yearid  ballots  needed  votes  \
votedBy  category
Veterans Manager                  21      21        0       0      0
         Pioneer/Executive        18      18        0       0      0
         Player                  140     140       60      60     60
         Umpire                   10      10        0       0      0

                            inducted  needed_note
votedBy  category
Veterans Manager                  21            0
         Pioneer/Executive        18            0
         Player                  140            0
         Umpire                   10            0

## Read the master Data Frame and list the column names

In [22]:
master = pd.read_csv("../../baseballdatabank/core/Master.csv")
master.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

   ## Show the column names of the master Data Fram

In [ ]:
master.columns

## List the columns of the master Data Frame

In [ ]:
master.columns

## Exercise: produce a list showing the counts of hall of fame inductees by year

In [20]:
hall.groupby(('yearid','inducted')).count()

                 playerID  votedBy  ballots  needed  votes  category  \
yearid inducted
1936   N              105      105      105     105    105       105
       Y                5        5        5       5      5         5
1937   N              110      110      110     110    110       110
       Y                8        8        3       3      3         8
1938   N              119      119      119     119    119       119
       Y                3        3        1       1      1         3
1939   N              105      105      105     105    105       105
       Y               10       10        3       3      3        10
1942   N               71       71       71      71     71        71
       Y                1        1        1       1      1         1
1944   Y                1        1        0       0      0         1
1945   N               95       95       95      95     95        95
       Y               10       10        0       0      0        10
1946   N               97       97       97      21     97        97
       Y               11       11        0       0      0        11
1947   N               35       35       35      35     35        35
       Y                4        4        4       4      4         4
1948   N              104      104      104     104    104       104
       Y                2        2        2       2      2         2
1949   N              117      117      117      98    117       117
       Y                3        3        1       0      1         3
1950   N              100      100      100     100    100       100
1951   N               84       84       84      84     84        84
       Y                2        2        2       2      2         2
1952   N               73       73       73      73     73        73
       Y                2        2        2       2      2         2
1953   N               81       81       81      81     81        81
       Y                8        8        2       2      2         8
1954   N               50       50       50      50     50        50
       Y                3        3        3       3      3         3
...                   ...      ...      ...     ...    ...       ...
2002   N               27       27       27      27     27        27
       Y                1        1        1       1      1         1
2003   N               31       31       31      31     31        31
       Y                2        2        2       2      2         2
2004   N               30       30       30      30     30        30
       Y                2        2        2       2      2         2
2005   N               25       25       25      25     25        25
       Y                2        2        2       2      2         2
2006   N               28       28       28      28     28        28
       Y               18       18        1       1      1        18
2007   N               30       30       30      30     30        30
       Y                2        2        2       2      2         2
2008   N               24       24       24      24     24        24
       Y                6        6        1       1      1         6
2009   N               21       21       21      21     21        21
       Y                3        3        2       2      2         3
2010   N               25       25       25      25     25        25
       Y                3        3        1       1      1         3
2011   N               31       31       31      31     31        31
       Y                3        3        2       2      2         3
2012   N               26       26       26      26     26        26
       Y                2        2        1       1      1         2
2013   N               37       37       37      37     37        37
       Y                3        3        0       0      0         3
2014   N               33       33       33      33     33        33
       Y                6        6        3       3      3         6
2015   N               30       30       30      30     30        30
       Y                4        4        4       4      4         4
2016   N               30       30       30      30     30        30
       Y                2        2        2       2      2         2

                 needed_note
yearid inducted
1936   N                   0
       Y                   0
1937   N                   0
       Y                   0
1938   N                   0
       Y                   0
1939   N                   0
       Y                   0
1942   N                   0
       Y                   0
1944   Y                   0
1945   N                   0
       Y                   0
1946   N                  76
       Y                   0
1947   N                   0
       Y                   0
1948   N                   0
       Y                   0
1949   N                  19
       Y                   1
1950   N                   0
1951   N                   0
       Y                   0
1952   N                   0
       Y                   0
1953   N                   0
       Y                   0
1954   N                   0
       Y                   0
...                      ...
2002   N                   0
       Y                   0
2003   N                   0
       Y                   0
2004   N                   0
       Y                   0
2005   N                   0
       Y                   0
2006   N                   0
       Y                   0
2007   N                   0
       Y                   0
2008   N                   0
       Y                   0
2009   N                   0
       Y                   0
2010   N                   0
       Y                   0
2011   N                   0
       Y                   0
2012   N                   0
       Y                   0
2013   N                   0
       Y                   0
2014   N                   0
       Y                   0
2015   N                   0
       Y                   0
2016   N                   0
       Y                   0

[147 rows x 7 columns]

## Exercise: produce a list showing the counts of living hall of fame inductees by year

In [23]:
pd.merge(hall[hall.inducted=='Y'], master[master.deathYear.isnull()], how ='inner')

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note,birthYear,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,koufasa01,1972,BBWAA,396.0,297.0,344.0,Y,Player,NaN,1935.0,...,Koufax,Sanford,210.0,74.0,R,L,1955-06-24,1966-10-02,koufs101,koufasa01
1,fordwh01,1974,BBWAA,365.0,274.0,284.0,Y,Player,NaN,1928.0,...,Ford,Edward Charles,178.0,70.0,L,L,1950-07-01,1967-05-21,fordw101,fordwh01
2,mayswi01,1979,BBWAA,432.0,324.0,409.0,Y,Player,NaN,1931.0,...,Mays,Willie Howard,170.0,70.0,R,R,1951-05-25,1973-09-09,maysw101,mayswi01
3,kalinal01,1980,BBWAA,385.0,289.0,340.0,Y,Player,NaN,1934.0,...,Kaline,Albert William,175.0,73.0,R,R,1953-06-25,1974-10-02,kalia101,kalinal01
4,gibsobo01,1981,BBWAA,401.0,301.0,337.0,Y,Player,NaN,1935.0,...,Gibson,Robert,189.0,73.0,R,R,1959-04-15,1975-09-03,gibsb101,gibsobo01
5,aaronha01,1982,BBWAA,415.0,312.0,406.0,Y,Player,NaN,1934.0,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
6,robinfr02,1982,BBWAA,415.0,312.0,370.0,Y,Player,NaN,1935.0,...,Robinson,Frank,183.0,73.0,R,R,1956-04-17,1976-09-18,robif103,robinfr02
7,robinbr01,1983,BBWAA,374.0,281.0,344.0,Y,Player,NaN,1937.0,...,Robinson,Brooks Calbert,180.0,73.0,R,R,1955-09-17,1977-08-13,robib104,robinbr01
8,maricju01,1983,BBWAA,374.0,281.0,313.0,Y,Player,NaN,1937.0,...,Marichal,Juan Antonio,185.0,72.0,R,R,1960-07-19,1975-04-16,marij101,maricju01
9,aparilu01,1984,BBWAA,403.0,303.0,341.0,Y,Player,NaN,1934.0,...,Aparicio,Luis Ernesto,160.0,69.0,R,R,1956-04-17,1973-09-28,aparl101,aparilu01
10,brocklo01,1985,BBWAA,395.0,297.0,315.0,Y,Player,NaN,1939.0,...,Brock,Louis Clark,170.0,71.0,L,L,1961-09-10,1979-09-30,brocl102,brocklo01
11,mccovwi01,1986,BBWAA,425.0,319.0,346.0,Y,Player,NaN,1938.0,...,McCovey,Willie Lee,198.0,76.0,L,L,1959-07-30,1980-07-06,mccow101,mccovwi01
12,doerrbo01,1986,Veterans,NaN,NaN,NaN,Y,Player,NaN,1918.0,...,Doerr,Robert Pershing,175.0,71.0,R,R,1937-04-20,1951-09-07,doerb101,doerrbo01
13,willibi01,1987,BBWAA,413.0,310.0,354.0,Y,Player,NaN,1938.0,...,Williams,Billy Leo,175.0,73.0,L,R,1959-08-06,1976-10-02,willb104,willibi01
14,benchjo01,1989,BBWAA,447.0,336.0,431.0,Y,Player,NaN,1947.0,...,Bench,Johnny Lee,197.0,73.0,R,R,1967-08-28,1983-09-29,bencj101,benchjo01
15,yastrca01,1989,BBWAA,447.0,336.0,423.0,Y,Player,NaN,1939.0,...,Yastrzemski,Carl Michael,175.0,71.0,L,R,1961-04-11,1983-10-02,yastc101,yastrca01
16,schoere01,1989,Veterans,NaN,NaN,NaN,Y,Player,NaN,1923.0,...,Schoendienst,Albert Fred,170.0,72.0,B,R,1945-04-17,1963-07-07,schor101,schoere01
17,palmeji01,1990,BBWAA,444.0,333.0,411.0,Y,Player,NaN,1945.0,...,Palmer,James Alvin,190.0,75.0,R,R,1965-04-17,1984-05-12,palmj001,palmeji01
18,morgajo02,1990,BBWAA,444.0,333.0,363.0,Y,Player,NaN,1943.0,...,Morgan,Joe Leonard,160.0,67.0,L,R,1963-09-21,1984-09-30,morgj001,morgajo02
19,carewro01,1991,BBWAA,443.0,333.0,401.0,Y,Player,NaN,1945.0,...,Carew,Rodney Cline,170.0,72.0,L,R,1967-04-11,1985-10-05,carer001,carewro01
20,perryga01,1991,BBWAA,443.0,333.0,342.0,Y,Player,NaN,1938.0,...,Perry,Gaylord Jackson,205.0,76.0,R,R,1962-04-14,1983-09-21,perrg101,perryga01
21,jenkife01,1991,BBWAA,443.0,333.0,334.0,Y,Player,NaN,1942.0,...,Jenkins,Ferguson Arthur,205.0,77.0,R,R,1965-09-10,1983-09-26,jenkf101,jenkife01
22,seaveto01,1992,BBWAA,430.0,323.0,425.0,Y,Player,NaN,1944.0,...,Seaver,George Thomas,195.0,73.0,R,R,1967-04-13,1986-09-19,seavt001,seaveto01
23,fingero01,1992,BBWAA,430.0,323.0,349.0,Y,Player,NaN,1946.0,...,Fingers,Roland Glen,190.0,76.0,R,R,1968-09-15,1985-09-17,fingr001,fingero01
24,jacksre01,1993,BBWAA,423.0,318.0,396.0,Y,Player,NaN,1946.0,...,Jackson,Reginald Martinez,195.0,72.0,L,L,1967-06-09,1987-10-04,jackr001,jacksre01
25,carltst01,1994,BBWAA,456.0,342.0,436.0,Y,Player,NaN,1944.0,...,Carlton,Steven Norman,210.0,76.0,L,L,1965-04-12,1988-04-23,carls001,carltst01
26,schmimi01,1995,BBWAA,460.0,345.0,444.0,Y,Player,NaN,1949.0,...,Schmidt,Michael Jack,195.0,74.0,R,R,1972-09-12,1989-05-28,schmm001,schmimi01
27,bunniji01,1996,Veterans,NaN,NaN,NaN,Y,Player,NaN,1931.0,...,Bunning,James Paul David,190.0,75.0,R,R,1955-07-20,1971-09-03,bunnj101,bunniji01
28,niekrph01,1997,BBWAA,473.0,353.0,380.0,Y,Player,NaN,1939.0,...,Niekro,Philip Henry,180.0,73.0,R,R,1964-04-15,1987-09-27,niekp001,niekrph01
29,lasorto01,1997,Veterans,NaN,NaN,NaN,Y,Manager,NaN,1927.0,...,Lasorda,Thomas Charles,175.0,70.0,L,L,1954-08-05,1956-07-08,lasot101,lasorto01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,smithoz01,2002,BBWAA,472.0,354.0,433.0,Y,Player,NaN,1954.0,...,Smith,Osborne Earl,150.0,71.0,B,R,1978-04-07,1996-09-29,smito001,smithoz01
40,murraed02,2003,BBWAA,496.0,372.0,423.0,Y,Player,NaN,1956.0,...,Murray,Eddie Clarence,190.0,74.0,B,R,1977-04-07,1997-09-20,murre001,murraed02
41,molitpa01,2004,BBWAA,506.0,380.0,431.0,Y,Player,NaN,1956.0,...,Molitor,Paul Leo,185.0,72.0,R,R,1978-04-07,1998-09-27,molip001,molitpa01
42,eckerde01,2004,BBWAA,506.0,380.0,421.0,Y,Player,NaN,1954.0,...,Eckersley,Dennis Lee,190.0,74.0,R,R,1975-04-12,1998-09-26,ecked001,eckerde01
43,boggswa01,2005,BBWAA,516.0,387.0,474.0,Y,Player,NaN,1958.0,...,Boggs,Wade Anthony,190.0,74.0,L,R,1982-04-10,1999-08-27,boggw001,boggswa01
44,sandbry01,2005,BBWAA,516.0,387.0,393.0,Y,Player,NaN,1959.0,...,Sandberg,Ryne Dee,175.0,73.0,R,R,1981-09-02,1997-09-28,sandr001,sandbry01
45,suttebr01,2006,BBWAA,520.0,390.0,400.0,Y,Player,NaN,1953.0,...,Sutter,Howard Bruce,190.0,74.0,R,R,1976-05-09,1988-09-09,suttb001,suttebr01
46,ripkeca01,2007,BBWAA,545.0,409.0,537.0,Y,Player,NaN,1960.0,...,Ripken,Calvin Edwin,200.0,76.0,R,R,1981-08-10,2001-10-06,ripkc001,ripkeca01
47,gossari01,2008,BBWAA,543.0,408.0,466.0,Y,Player,NaN,1951.0,...,Gossage,Richard Michael,180.0,75.0,R,R,1972-04-16,1994-08-08,gossr001,gossari01
48,henderi01,2009,BBWAA,539.0,405.0,511.0,Y,Player,NaN,1958.0,...,Henderson,Rickey Nelson Henley,180.0,70.0,R,L,1979-06-24,2003-09-19,hendr001,henderi01
49,riceji01,2009,BBWAA,539.0,405.0,412.0,Y,Player,NaN,1953.0,...,Rice,James Edward,200.0,74.0,R,R,1974-08-19,1989-08-03,ricej001,riceji01
50,dawsoan01,2010,BBWAA,539.0,405.0,420.0,Y,Player,NaN,1954.0,...,Dawson,Andre Nolan,180.0,75.0,R,R,1976-09-11,1996-09-29,dawsa001,dawsoan01
51,herzowh01,2010,Veterans,NaN,NaN,NaN,Y,Manager,NaN,1931.0,...,Herzog,Dorrel Norman Elvert,182.0,71.0,L,L,1956-04-17,1963-09-28,herzw101,herzowh01
52,harvedo99,2010,Veterans,NaN,NaN,NaN,Y,Umpire,NaN,1930.0,...,Harvey,Harold Douglas,195.0,74.0,NaN,NaN,NaN,NaN,harvd901,harvedo99
53,alomaro01,2011,BBWAA,581.0,436.0,523.0,Y,Player,NaN,1968.0,...,Alomar,Roberto,184.0,72.0,B,R,1988-04-22,2004-09-05,alomr001,alomaro01
54,blylebe01,2011,BBWAA,581.0,436.0,463.0,Y,Player,NaN,1951.0,...,Blyleven,Rik Aalbert,200.0,75.0,R,R,1970-06-05,1992-10-04,blylb001,blylebe01
55,gillipa99,2011,Veterans,NaN,NaN,NaN,Y,Pioneer/Executive,NaN,1937.0,...,Gillick,Lawrence Patrick D.,185.0,73.0,L,L,NaN,NaN,NaN,gillipa99
56,larkiba01,2012,BBWAA,573.0,430.0,495.0,Y,Player,NaN,1964.0,...,Larkin,Barry Louis,185.0,72.0,R,R,1986-08-13,2004-10-03,larkb001,larkiba01
57,coxbo01,2014,Veterans,NaN,NaN,NaN,Y,Manager,NaN,1941.0,...,Cox,Robert Joe,180.0,71.0,R,R,1968-04-14,1969-10-01,cox-b103,coxbo01
58,larusto01,2014,Veterans,NaN,NaN,NaN,Y,Manager,NaN,1944.0,...,LaRussa,Anthony,175.0,72.0,R,R,1963-05-10,1973-04-06,larut101,larusto01
59,torrejo01,2014,Veterans,NaN,NaN,NaN,Y,Manager,NaN,1940.0,...,Torre,Joseph Paul,212.0,74.0,R,R,1960-09-25,1977-06-17,torrj101,torrejo01
60,maddugr01,2014,BBWAA,571.0,429.0,555.0,Y,Player,NaN,1966.0,...,Maddux,Gregory Alan,170.0,72.0,R,R,1986-09-03,2008-09-27,maddg002,maddugr01
61,glavito02,2014,BBWAA,571.0,429.0,525.0,Y,Player,NaN,1966.0,...,Glavine,Thomas Michael,175.0,72.0,L,L,1987-08-17,2008-08-14,glavt001,glavito02
62,thomafr04,2014,BBWAA,571.0,429.0,478.0,Y,Player,NaN,1968.0,...,Thomas,Frank Edward,240.0,77.0,R,R,1990-08-02,2008-08-29,thomf001,thomafr04
63,johnsra05,2015,BBWAA,549.0,412.0,534.0,Y,Player,NaN,1963.0,...,Johnson,Randall David,225.0,82.0,R,L,1988-09-15,2009-10-04,johnr005,johnsra05
64,martipe02,2015,BBWAA,549.0,412.0,500.0,Y,Player,NaN,1971.0,...,Martinez,Pedro Jaime,170.0,71.0,R,R,1992-09-24,2009-09-30,martp001,martipe02
65,smoltjo01,2015,BBWAA,549.0,412.0,455.0,Y,Player,NaN,1967.0,...,Smoltz,John Andrew,210.0,75.0,R,R,1988-07-23,2009-09-30,smolj001,smoltjo01
66,biggicr01,2015,BBWAA,549.0,412.0,454.0,Y,Player,NaN,1965.0,...,Biggio,Craig Alan,185.0,71.0,R,R,1988-06-26,2007-09-30,biggc001,biggicr01
67,griffke02,2016,BBWAA,440.0,330.0,437.0,Y,Player,NaN,1969.0,...,Griffey,George Kenneth,195.0,75.0,L,L,1989-04-03,2010-05-31,grifk002,griffke02
68,piazzmi01,2016,BBWAA,440.0,330.0,365.0,Y,Player,NaN,1968.0,...,Piazza,Michael Joseph,200.0,75.0,R,R,1992-09-01,2007-09-30,piazm001,piazzmi01

## Exercise: produce a list showing the number of times each player was voted on for induction into the hall of fame

In [17]:
hall[['playerID','votes']].groupby('playerID').count()

           votes
playerID
aaronha01      1
abbotji01      1
adamsba01     15
adamsbo03      1
adamssp01      2
ageeto01       1
aguilri01      1
akerja01       1
alexado01      1
alexape01      3
allenbe01      1
allendi01     14
allenjo02      1
alleyge01      1
allisdo01      1
alomaro01      2
alomasa02      1
aloufe01       1
alouje01       1
alouma01       1
aloumo01       1
alstowa01      0
altroni01      8
anderbr01      1
anderga01      1
andersp01      0
ansonca01      1
aparilu01      6
appieke01      1
applilu01      8
...          ...
wiseri01       1
wittbo01       1
wittmi01       1
wittwh01       1
womacto01      1
woodjo02       9
woodwi01       6
worreto01      1
wrighge01      1
wrighgl01     12
wrighha01      0
wyattwh01      1
wynnea01       4
wynnji01       1
yastrca01      1
yawketo99      0
yeagest01      1
yerkest02      1
yorkru01       2
youngcy01      3
younger01      1
youngpe01      1
youngro01     18
yountro01      1
zachato01      2
zachrpa01      1
zahnge01       1
zeileto01      1
zimmech01      1
ziskri01       1

[1239 rows x 1 columns]